/**
 * Alf fonts
 * These will be available in the font dropdown
 */

.alf-font-Guardian-Sans-Cond-Bold {
    font-family: 'Guardian Sans Cond Bold' !important;
    font-weight: bold !important;
}

.alf-font-fedra-serif-display {
    font-family: 'Fedra Serif Display' !important;
    font-weight: normal !important;
}

.alf-font-fedra-sans-light {
    font-family: 'Fedra Sans Std Light' !important;
    font-weight: normal !important;
}

.alf-font-fedra-sans-light-italic {
    font-family: 'Fedra Sans Std Light Italic' !important;
    font-weight: normal !important;
    font-style: italic !important;
}

.title {
    &.serif,
    &.serif h1 {
        font-size: 80px;
        line-height: 70px;
    }

    &.sans,
    &.sans h1 {
        font-size: 100px;
    }

    &.condensed,
    &.condensed h1 {
        font-size: 90px;
        line-height: 90px;
        font-weight: 700;
    }
}

.excerpt {
    &.serif {
    }

    &.sans {
    }
}

.header-section {
    font-family: $fonts-sans;
}
