.alf-cols-3 {
    width: 676px;
}

.alf-col-1 {
    left: 0;
    width: 443px;
    &.alf-colspan-3 {
        left: 0;
        margin-bottom: 48px;
        width: 676px;
    }
}

.alf-col-3 {
    left: 443 + 23px;
    width: 210px;
}

.image-triple-2-1 {
    margin: 108px 150px 48px;
    position: relative;

    img {
        display: block;
        height: auto !important;
        max-width: 100%;
    }
}

.flex-row {
    display: flex;
    width: 100%;
}

.triple-2-1-first {
    flex-grow: 1;
    margin-right: 4px;
}

.triple-2-1-second {
    flex-grow: 1;
    margin-left: 4px;
}

.triple-2-1-third {
    margin-top: 8px;
}

.image-triple-1-2 {
    margin: 108px 48px 48px;
    overflow: hidden;
    position: relative;

    img {
        display: block;
        height: 100% !important;
        width: 100% !important;
    }
}

.image-triple-1-2-left {
    flex-basis: 400px;
    margin-right: 10px;
    overflow: hidden;
}

.image-triple-1-2-right {
    flex-basis: 200px;
    flex-grow: 1;
    overflow: hidden;
}

.image-grid [data-select='img'] {
    overflow: hidden;
    position: relative;
}

.image-grid [data-select='img']::after {
    background: $colors-blue-dot;
    color: #fff;
    font-size: 10px;
    height: 13px;
    line-height: 13px;
    position: absolute;
    text-align: center;
    width: 13px;
    z-index: 10;
}

.triple-2-1-first::after,
.triple-1-2-first::after {
    bottom: 0;
    content: '1';
    right: 0;
}

.triple-1-2-second {
    margin-bottom: 10px;
}

.triple-2-1-second::after,
.triple-1-2-second::after {
    bottom: 0;
    content: '2';
    left: 0;
}

.triple-2-1-third::after {
    content: '3';
    left: 48.5%;
    top: 0;
}

.triple-1-2-third::after {
    bottom: 0;
    content: '3';
    left: 0;
}
