.alf-cols-3 {
    width: 676px;
}

.alf-col-1 {
    left: 0;
    width: 443px;
}

.alf-col-1.alf-colspan-3 {
    left: 0;
    width: 676px;
    margin-bottom: 48px;
}

.alf-col-3 {
    left: 443 + 23px;
    width: 210px;
}

.image-triple-2-1 {
    position: relative;
    margin: 108px 150px 48px;
    img {
        max-width: 100%;
        height: auto !important;
        display: block;
    }
}

.flex-row {
    display: flex;
    width: 100%;
}

.triple-2-1-first {
    margin-right: 4px;
    flex-grow: 1;
}

.triple-2-1-second {
    margin-left: 4px;
    flex-grow: 1;
}

.triple-2-1-third {
    margin-top: 8px;
}

.image-triple-1-2 {
    position: relative;
    overflow: hidden;
    margin: 108px 48px 48px;
    img {
        display: block;
        width: 100% !important;
        height: 100% !important;
    }
}

.image-triple-1-2-left {
    overflow: hidden;
    margin-right: 10px;
    flex-basis: 400px;
}

.image-triple-1-2-right {
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 200px;
}

.image-grid [data-select="img"] {
    position: relative;
    overflow: hidden;
}

.image-grid [data-select="img"]::after {
    position: absolute;
    z-index: 10;
    color: #fff;
    font-size: 10px;
    width: 13px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    background: $colors-blue-dot;
}

.triple-2-1-first::after,
.triple-1-2-first::after {
    content: "1";
    right: 0;
    bottom: 0;
}

.triple-1-2-second {
    margin-bottom: 10px;
}

.triple-2-1-second::after,
.triple-1-2-second::after {
    content: "2";
    left: 0;
    bottom: 0;
}

.triple-2-1-third::after {
    content: "3";
    top: 0;
    left: 48.5%;
}

.triple-1-2-third::after {
    content: "3";
    left: 0;
    bottom: 0;
}
