@charset "UTF-8";

.alf-chrome {
    a,
    a:visited {
        border-bottom: 1px dotted #ccc;
        color: #333;
        font-weight: bold;
        position: relative;
        text-decoration: none;
    }
}

//
// Page content styles
//

h1 {
    font-size: 28px;
    line-height: 38px;
    margin: 0 0 10px;
}

hr {
    border: 0;
    border-bottom: 1px solid #ddd;
}

blockquote {
    p {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    small {
        font-size: 18px;
    }
}

.content-page {
    margin: 108px 46px 46px;
}

.title {
    margin-top: 0;
}

.article-header-top {
    margin-bottom: 10px;
}

.article-header-bottom {
    margin-top: 10px;
}

.media-element {
    position: relative;
    line-height: 0;
    display: -webkit-box;
    display: box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
}

.footer {
    bottom: 48px;
    position: fixed;
    right: 20px;
}

.alf-region {
    margin-bottom: 16px;
    overflow: hidden;

    ul {
        padding-left: 25px;
    }

    li {
        margin: 0;
    }

    p {
        margin: 0;
        text-indent: 20px;

        strong {
            font-size: 1.7rem;
        }
    }

    h3 {
        display: inline-block;
        font-size: inherit;
        margin-right: 3px;
        padding-top: 38px;

        &:first-child {
            padding-top: 0;
        }

        + p {
            display: inline;
            text-indent: 0;
        }
    }

    blockquote {
        border: 0;
        font-size: 34px;
        font-style: italic;
        line-height: 42px;
        margin: 0 0 24px;
        padding: 0;
        text-align: center;

        &::before,
        &::after {
            content: '“';
            font-size: 40px;
        }
    }
}

.alf-container {
    blockquote {
        margin: 0 0 24px;
        padding: 0;

        p {
            font-size: 38px;
        }
    }

    img {
        border: 0;
        margin: 0;
        padding: 0;
    }
}

.byline {
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0;
    font-size: 20px;
    margin: 4px 0 10px;
    padding: 8px 0;
}

.excerpt {
    font-size: 18px;
    margin-bottom: 6px;
}

.tmpl-gallery {
    background-color: #000;
    -moz-box-align: center;
    -ms-box-align: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    min-height: 768px;
    z-index: 2147483647;
}

.tmpl-fullsize-media {
    .alf-container {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        .media-element {
            -moz-box-align: center;
            -ms-box-align: center;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            bottom: 0;
            display: -moz-box;
            display: -webkit-box;
            display: box;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.tmpl-overlay-with-excerpt {
    .white-background,
    .black-background {
        padding-bottom: 0;
    }
}

.image-grid .captions {
    text-align: center;
    background: $colors-blue-background;
}

.captions {
    color: $colors-font;
    font-family: 'Fedra Sans Std Book', sans-serif;
    padding: 20px 3px;
    position: relative;

    .alf-container::before,
    .alf-container::after {
        content: '';
        display: none;
    }

    .dot {
        background: $colors-blue-dot;
        border-radius: 10px;
        color: #fff;
        display: inline-block;
        font-size: 10px;
        height: 13px;
        line-height: 13px;
        margin: 0 5px;
        position: relative;
        text-align: center;
        top: -3px;
        width: 13px;
    }
}

.caption {
    border: 0;
    display: inline;
    font-size: 13px;
    line-height: 18px;
    width: inherit;

    .caption-title {
        display: inline-block;
        font-family: 'Fedra Serif A Std Medium', sans-serif;
        margin-right: 3px;
        text-transform: uppercase;
    }

    .caption-description {
        font-style: italic;

        p {
            display: inline;
        }
    }
}

.no-caption {
    &.overlay-caption,
    .overlay-caption {
        display: none !important;
    }
}

.dp-fact-box {
    border: 1px solid $colors-blue;
}

.dp-fact-box-title {
    border-bottom: 1px solid $colors-blue;
    color: $colors-blue;
    font-family: 'Fedra Serif A Std Medium', sans-serif;
    font-size: 13px;
    padding: 10px 5px 0;
    text-transform: uppercase;

    p {
        margin: 0;
    }
}

.dp-fact-box-content {
    font-family: 'Fedra Sans Std Book', sans-serif;
    font-size: 14px;
    padding: 5px;

    p {
        margin: 0;
    }
}

@for $i from 1 through 20 {
    .alf-page-#{$i} .pagenum:before {
        content: "#{$i}";
    }

    .alf-pagenum-total-#{$i} .pagenum:after {
        content: "#{$i}";
    }
}

//
// Specific Template styles
// These styles affects only specific alf-templates
//

.tmpl-landscape-slim-2 .landscape-slim-media {
    box-shadow: 0 0 6px #a6a6a6;
    margin-bottom: 20px;
    max-height: 340px;
    overflow: hidden;
}

.tmpl-widescreen-frontpage,
.tmpl-widescreen-frontpage-dark-background,
.tmpl-fullsize-media {
    min-height: 768px;
}

.tmpl-widescreen-frontpage .byline,
.tmpl-widescreen-frontpage-dark-background .byline,
.byline.light {
    border: 0;
    margin-bottom: 0;
}

.tmpl-widescreen-frontpage .content-indent,
.tmpl-widescreen-frontpage-dark-background .content-indent {
    background: #f5f5f5;
    bottom: 0;
    height: auto;
    padding: 45px 35px;
    position: absolute;
    width: 100%;
}

.tmpl-widescreen-frontpage-dark-background .content-indent {
    background: #171717;
}

.tmpl-draggable-portrait-image {
    .media-element {
        -moz-box-pack: end;
        -webkit-box-pack: end;
        display: -webkit-box;
        display: box;
    }

    .frontpage-top-left {
        width: 50%;
    }
}
