// This file is included from the root styles.less file
// There is no need to include this in customer/_styles.less
// Foo! Test!
// Colors
$colors-background: #F5F5F5;
$colors-font: #333;
$colors-blue: #69a8c2;
$colors-blue-dot: #73aec6;
$colors-blue-background: #f1f7f9;

$line-height: 23px;

// Fonts
$fonts-location: 'http://dev.cdn.drmobile.aptoma.no/fonts';

$fonts-condensed: Oswald;
$fonts-serif: "PT serif";
$fonts-sans: "Open sans";

$fonts-body: 'Fedra Serif A Std Book';
$fonts-body-size: 14px;