@font-face {
    font-family: 'Fedra Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FedSerDisRegular.otf') format('opentype');
}

@font-face {
    font-family: 'Fedra Sans Std Light';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FedraSansStdLight.otf') format('opentype');
}

@font-face {
    font-family: 'Fedra Sans Std Light Italic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FedraSansStdLightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Fedra Serif A Std Demi';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FedraSerifStdADemi.otf') format('opentype');
}

@font-face {
    font-family: 'Fedra Serif A Std Medium';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FedraSerifStdAMedium.otf') format('opentype');
}

@font-face {
    font-family: 'Fedra Serif A Std Book';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FedraSerifStdABook.otf') format('opentype');
}

@font-face {
    font-family: 'Fedra Sans Std Book';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FedraSansStdBook.otf') format('opentype');
}
