@font-face {
    font-family: 'Fedra Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FedSerDisRegular.otf') format('opentype');
}

@font-face {
    font-family: 'Fedra Sans Std Light';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FedraSansStd Light.otf') format('opentype');
}

@font-face {
    font-family: 'Fedra Serif A Std Demi';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FedraSerifStd A Demi.otf') format('opentype');
}

@font-face {
    font-family: 'Fedra Serif A Std Medium';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FedraSerifStd A Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Fedra Serif A Std Book';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FedraSerifStd A Book.otf') format('opentype');
}

@font-face {
    font-family: 'Fedra Sans Std Book';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FedraSansStd Book.otf') format('opentype');
}
