<div data-map="article" class="alf-template responsive alf-is-responsive tmpl-image-on-top" data-name="Image on top" data-media="(max-width: 1023px) and (min-height: 300px)">
    <div class="alf-container top-image" data-map="landscape-*-large" data-select="img:first"></div>
    <div class="article-body">
        <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container alf-is-optional byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible">
            <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small-media-only 4x3-small-media-only 3x4-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-slim-small-media-only landscape-slim-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
</div>
