<!-- Start Tablet generic templates -->

<div data-map="article"
     data-name="Front Page - Full Image, Centered Text"
     class="alf-template frontpage"
     data-filter-page-pos="1">
    <div class="alf-container no-margin" data-map="*-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="frontpage-centered">
        <div class="alf-container alf-is-draggable alf-is-editable title" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-editable alf-is-removable alf-is-resizable excerpt sans align-center" data-map="excerpt"></div>
        <div class="alf-container alf-is-draggable alf-is-editable alf-is-optional byline" data-map="byline"></div>
    </div>
</div>

<div data-map="article"
     data-name="Single Column"
     class="alf-template alf-grid alf-cols-3 content-page"
     data-filter-page-pos="!1"
     >
    <div class="alf-col-1 alf-colspan-2 alf-region alf-flex"></div>
</div>

<div data-map="article"
     data-name="Single Column, fact-box"
     class="alf-template alf-grid alf-cols-3 content-page"
     data-filter-page-pos="!1"
     >
    <div class="alf-col-1 alf-colspan-2 alf-region alf-flex"></div>
    <div class="alf-col-3 alf-container alf-is-optional alf-flex" data-map="fact-box"></div>
</div>

<div data-map="article"
     data-name="Triple Image 2+1"
     class="alf-template"
     data-filter-page-pos="!1"
     >
    <div class="image-triple-2-1">
        <div class="alf-container triple-2-1-first alf-is-resizable alf-is-draggable" data-map="portrait-generic-small-media-only"></div>
        <div class="alf-container triple-2-1-second alf-is-resizable alf-is-draggable" data-map="portrait-generic-small-media-only"></div>
        <div class="alf-container triple-2-1-third alf-is-resizable alf-is-draggable" data-map="landscape-generic-large-media-only"></div>
    </div>
</div>

<div data-map="article"
     data-name="Triple Image 1+2"
     class="alf-template"
     data-filter-page-pos="!1"
     >
    <div class="image-triple-1-2 alf-is-resizable">
        <div class="alf-container triple-1-2-first alf-is-resizable alf-is-draggable" data-map="3x4-large-media-only"></div>
        <div>
            <div class="alf-container triple-1-2-second alf-is-resizable alf-is-draggable" data-map="portrait-generic-small-media-only"></div>
            <div class="alf-container triple-1-2-third alf-is-resizable alf-is-draggable" data-map="landscape-generic-small-media-only"></div>
        </div>
    </div>
</div>

<div data-map="article"
     data-name="Image on top, text below"
     class="alf-template alf-grid alf-cols-3 content-page"
     data-filter-page-pos="!1"
     >
    <div class="alf-col-1 alf-colspan-3 alf-container" data-map="landscape-generic-large-media-only"></div>
    <div class="alf-col-1 alf-colspan-2 alf-region alf-flex"></div>
</div>

<!-- End Tablet generic templates -->
